@model Skin

<div class="col-sm-4 col-md-4 col-lg-4">
    <h3>@Model.Tipo - @Model.Nome</h3>
    <h5>@Model.Estado</h5>
    <h7> 0.@Model.SkinFloat</h7>
    <div><img src="@Model.ImagemUrl" width=100%></div>
    <p>@Model.Preco.ToString("c")</p>
</div>
