@model ReflectionIT.Mvc.Paging.PagingList<SkinsSite.Models.Skin>

@{
    ViewData["Title"] = "Index";
}

<h1>Skins</h1>

<form class="d-flex align-items-center pt-3 py-3" method="get" class="form-inline">
    <div class="col-6 mx-2">
        <input name="filter" class="form-control" placeholder="filtro" value="@Model.RouteValue["Filter"]" />
    </div>
    <button type="submit" class="btn btn-info">Procurar</button>
</form>

<a asp-action="Create" class="btn btn-info">
    Criar Nova Skin
</a>

<h5 class="py-3 pt-3" style="font-weight: bold">
    Total de Skins : @Model.TotalRecordCount
</h5>

<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>

<div class="container">
    <div class="d-flex gap-4 flex-wrap  ">
        @foreach (var item in Model){
         <div class="shadow p-3" style="background-color: #FDFDFD;flex: 1 0 30%;">
              <h4 class="py-2" style="font-weight: bold" >@Html.DisplayFor(modelItem => item.DescricaoCurta)</h4>
              <p>Nome da Skin: @Html.DisplayFor(modelItem => item.Nome)</p> 
              <p>Estado da Skin: @Html.DisplayFor(modelItem => item.Estado)</p>
              <p>Float da Skin: @Html.DisplayFor(modelItem => item.SkinFloat)</p>
              <p>Descrição da skin: @Html.DisplayFor(modelItem => item.Tipo)</p>
              <p>Preço: @Html.DisplayFor(modelItem => item.Preco)</p>
              <p class="mb-2">Categoria: @Html.DisplayFor(modelItem => item.Categoria.CategoriaNome)</p>
              <div>
                <div class="pt-1 mb-2">
                    Preferida? @Html.DisplayFor(modelItem => item.IsSkinPreferida)
                </div>
                <div class="pt-1 mb-2">
                    Estoque: @Html.DisplayFor(modelItem => item.EmEstoque)
                </div>
              </div>
              <div class="d-flex gap-2 justify-content-end">
                    <a asp-action="Edit" asp-route-id="@item.SkinId"><button class="btn btn-primary">Editar</button></a>
                    <a asp-action="Details" asp-route-id="@item.SkinId"><button class="btn btn-success">Detalhes</button></a>
                    <a asp-action="Delete" asp-route-id="@item.SkinId"><button class="btn btn-danger">Deletar</button></a>
              </div>
         </div>
        }
    </div>
</div>
