@model CarrinhoCompraViewModel

<div class="container">
<div class="row">

    <div>
        <h4> Seu carrinho de compras:
        <img src="~/images/shoppingcart.png"/>
        </h4>
    </div>

    <table class="table table-bordered table-striped">

        <thead>
            <tr>
                <th>Quantidade</th>
                <th>Skin</th>
                <th class="text-right">Preço</th>
                <th class="text-right">Subtotal</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach(var item in Model.CarrinhoCompra.CarrinhoCompraItems)
            {
                    <tr>
                        <td class="text-center">@item.Quantidade</td>
                        <td class="text-left">@item.Skin.Nome</td>
                        <td class="text-right">@item.Skin.Preco.ToString("c")</td>

                        <td>
                            @if (item.DescontoPreco.HasValue)
                            {
                                @($"{item.Quantidade * item.DescontoPreco:c} (-{(item.Quantidade * (item.Skin.Preco - item.DescontoPreco)):c})")
                            }
                            else
                            {
                                @($"{(item.Quantidade * item.Skin.Preco):c}")
                            }
                        </td>

                        <td class="text-center">
                            <a asp-controller="CarrinhoCompra" asp-action="RemoverItemDoCarrinhoCompra"
                               asp-route-skinId="@item.Skin.SkinId"><img src="~/images/deletar-lixeira.png" height="3%" width="3%"/>
                            </a>
                    </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total: </td>
                <td class="text-right">
                    @Model.CarrinhoCompraTotal.ToString("c")
                </td>
            </tr>
        </tfoot>

    </table>

    <div class="text-right">
        <form asp-controller="CarrinhoCompra" asp-action="AplicarCupom" method="post">
            <input type="text" name="cupomCodigo" placeholder="Código do cupom">
            <button type="submit" class="btn btn-success">Aplicar Cupom</button>
        </form>
    </div>
    <br />

    <div class="text-right">
        <div class="btn-group">
            <a class="btn btn-success" asp-controller="Pedido" asp-action="Checkout">Encerrar Pedido</a>
            &nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary" asp-controller="Skin" asp-action="List">Continuar Comprando</a>
        </div>
    </div>
</div>
</div>

@{
    var erro = TempData["Erro"] as string;
    if (!string.IsNullOrEmpty(erro))
    {
        <div class="modal fade" id="cupomErrorModal" tabindex="-1" aria-labelledby="cupomErrorModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="cupomErrorModalLabel">
                            Erro
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        @erro
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    }
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    var erro = '@erro';
    if (erro !== '') {
        $(document).ready(function () {
            $('#cupomErrorModal').modal('show');
        });
    }
</script>